<form class="d-flex mb-4" role="search" data-bs-theme="dark">
  <input class="form-control me-2 rounded-pill" style="height: 50px" type="search" placeholder=" 🔎  Search" aria-label="Search">
</form>

<div class="hashtag-sidebar p-2 border border-primary rounded-4 mb-3">
  <p class="p-2 fs-4 mb-0 fw-bold ">Subscribe to Premium</p>
  <p class="p-2 fs-6 mb-0 fw-bold ">Subscribe to unlock new features and if elegible, recieve a share of ads revenue.</p>
  <button type="button" class="btn btn-dark rounded-pill ps-3 pe-3 fw-bold">Subscribe</button>
</div>

<div class="hashtag-sidebar p-2 border border-primary rounded-4">
<p class="p-2 fs-4 mb-0 fw-bold ">What’s happening</p>
  <% Hashtag.limit(2).order(hashtags: :desc).each do |hashtag| %>
    <div class="item p-2" data-controller="hashtag" data-url="<%= hashtag_path(hashtag) %>">
      <p class="fw-bold mb-0 fs-5">#<%= hashtag.tag %></p>
      <p class="text-muted fs-6 mb-0"> <%= hashtag.tweets.size %> posts</p>
    </div>
  <% end %>
  <%= link_to "Show more", hashtags_path, class: "twitter-link p-2" %>
</div>

<div class="hashtag-sidebar p-2 border border-primary rounded-4 mt-3">
  <p class="p-2 fs-4 mb-0 fw-bold ">Who to follow</p>
  <button type="button" class="btn btn-dark rounded-pill ps-3 pe-3 fw-bold">Follow</button>
</div>
