<%= form_with model: Tweet.new, url: tweets_path, class: "w-100", local: true do |f| %>
  <%= f.text_area :body, placeholder: "What's happening?...", class: "form-control w-100 tweet-input"%>
  <div class="d-flex justify-content-end">
    <%= f.submit "Post", class: "btn btn-lg btn-twitter rounded-pill" %>
  </div>
<% end %>
