<div class="col-7 border-start border-end">
  <div class="mb-3">
    <%= link_to "Explore", hashtags_path, class: "fs-4 text-decoration-none text-black fw-semibold" %>
    <div class="row text-muted text-center mt-4 border-bottom py-3">
      <div class="col">
        For you
      </div>
      <div class="col">
        Trending
      </div>
      <div class="col">
        News
      </div>
      <div class="col">
        Sports
      </div>
      <div class="col">
        Entertainment
      </div>
    </div>
  </div>

  <%= render @hashtags %>

</div>
<div class="col">
  <%= render "shared/hashtag_sidebar" %>
</div>
