<div class="container">
  <div class="row">
    <div class="col">
      <div class="container py-6">
        <svg viewBox="0 0 24 24" aria-hidden="true" class="r-1nao33i r-4qtqp9 r-yyyyoo r-rxcuwo r-1777fci r-m327ed r-dnmrzs r-494qqr r-bnwqim r-1plcrui r-lrvibr" style="width: 400px"><g><path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path></g></svg>
      </div>
    </div>
    <div class="col text-start">
          <span class="fw-bold text-start" style="font-size: 80px">Happening now</span>
      <div class="container text-center py-5">
        <div class="row">
          <div class="col-7">

              <div class="row align-items-center">
                <span class="fw-bold text-start mb-2" style="font-size: 40px">Join today.</span>
                <%= link_to link_to "Create account", new_user_registration_path, class: "btn-twitter px-4 py-2 rounded-pill fw-semibold mb-3" %>

                <span class="text-start text-muted fw-semibold mb-2">Already have an account?</span>
                <%= link_to link_to "Sign in", new_user_session_path, class: "btn-twitter px-2 py-2 rounded-pill fw-semibold" %>

              </div>

          </div>
          <div class="col-5">
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
