.tweet {
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  -webkit-transition: all .1s ease-in;
  transition: all .1s ease-in;

  &:hover {
    background-color: $gray-100;
    cursor: pointer;
  }

  .action-links {
    a {
      span, svg {
        position: relative;
        top: 2px;
      }
      &.reply, &.retweets, &.likes, &.views, &.bookmarks   {
        &:hover {
          path {
            fill: yellow !important;
          }
        }
      }
    }
  }
}
